.rating-input {
    .ally-rating {
        .ally-rating__input:focus~.rating-5-stars {
            box-shadow:
                0 0 0 1px #7c7cd4;
        }
    }

    .rating-5-stars {
        display: inline-flex;
        border-radius: 6px;

        .star {
            height: 40px;
            width: 40px;
            // border-radius: 50%;
            // background-color: red;
            background-image: url("../../components/star.svg");

            &:not(:last-child) {
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
                background-image: url("../../components/star_hover.svg");
            }

            &.star_fill {
                background-image: url("../../components/star_fill.svg");

                &:hover {
                    background-image: url("../../components/star_hover.svg");
                }
            }

            &.star_hover {
                background-image: url("../../components/star_hover.svg");
            }
        }
    }
}