.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #1eebbe, 0 0 0 4px #11c59d;
  z-index: 20; }

.main-gradient, .main {
  background: linear-gradient(45deg, #70c5f4 0%, #846bf7 100%); }

.second-gradient, .header, .footer {
  background: linear-gradient(45deg, #ffa9af 0%, #f871be 100%); }

.main-shadow, .header, .footer, .main .main-w {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); }

.main-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #1F1D3B; }

.main-font-bold, .header .logo .logo__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #1F1D3B; }

.main-font-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #5947E4; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.rating-input .ally-rating .ally-rating__input {
  position: absolute;
  left: -9999px; }
  .rating-input .ally-rating .ally-rating__input:focus ~ .rating-5-stars {
    box-shadow: 0 0 0 1px #7c7cd4; }

.rating-input .rating-5-stars {
  display: inline-flex;
  border-radius: 6px; }
  .rating-input .rating-5-stars .star {
    height: 40px;
    width: 40px;
    background-image: url("../../components/star.svg"); }
    .rating-input .rating-5-stars .star:not(:last-child) {
      margin-right: 5px; }
    .rating-input .rating-5-stars .star:hover {
      cursor: pointer;
      background-image: url("../../components/star_hover.svg"); }
    .rating-input .rating-5-stars .star.star_fill {
      background-image: url("../../components/star_fill.svg"); }
      .rating-input .rating-5-stars .star.star_fill:hover {
        background-image: url("../../components/star_hover.svg"); }
    .rating-input .rating-5-stars .star.star_hover {
      background-image: url("../../components/star_hover.svg"); }

.vertical-w {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header {
  height: 90px;
  margin-bottom: 30px; }

.main {
  flex-grow: 2; }

.footer {
  height: 90px;
  margin-top: 30px; }

.header .header-w {
  display: flex;
  align-items: flex-end; }

.header .logo {
  display: flex;
  align-items: flex-end;
  padding-top: 15px;
  margin-right: 200px; }
  .header .logo .logo__image {
    margin-right: 15px; }
  .header .logo .logo__text {
    font-size: 32px;
    line-height: 28px;
    color: #f871be; }

.main {
  display: flex;
  align-items: justify; }
  .main .main-w {
    flex-grow: 2;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 6px; }

.footer {
  padding-top: 20px; }

.main .content-heading {
  margin-bottom: 10px; }

.main .content {
  margin-bottom: 0px; }

.main .example {
  margin: 20px -10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #dae2fc; }
  .main .example .example__heading {
    margin-bottom: 10px; }
  .main .example .example__description {
    margin-bottom: 10px; }
  .main .example .rating-input {
    margin-bottom: 20px; }
    .main .example .rating-input .ally-rating__input {
      position: relative;
      left: 0; }
