<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="./assets/scss/base.css")
    link(rel="stylesheet" href="./assets/scss/main.css")
    link(rel="stylesheet" href="./pages/index/index.css")
    title 5 stars
  body.vertical-w
    header.header 
      .wrapper.header-w
        .logo
          img.logo__image(src="./assets/img/SadCat.svg" alt="Logotype" width="80")
          .logo__text SadCat88
        .header__heading #[h1 Vanilla JavaScript practice]
    main.main 
      .wrapper.main-w
        
    footer.footer 
      .wrapper