// для базовой стилизации страниц
// =============================================================================

@import 'utils/vars.scss';
@import 'utils/fonts.scss';
// @import './main.scss';

body {
    @extend .main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    // background-color: $mainBgColor;
    min-height: 100vh;
    @extend .main-gradient;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
fieldset,
figure {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}